n8n/workflows/01-otp.json
{
  "name": "GastroDigest · 01 · OTP (correo via Brevo API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "otp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-otp",
      "name": "Recibir OTP (PHP)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "gastrodigest-otp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"email\": \"hr177153@gmail.com\", \"name\": \"GastroDigest\" }, \"to\": [ { \"email\": \"{{ $('Recibir OTP (PHP)').item.json.body.correo }}\" } ], \"subject\": \"Tu codigo de verificacion - GastroDigest\", \"textContent\": \"Tu codigo de verificacion es {{ $('Recibir OTP (PHP)').item.json.body.codigo }}. Vence en 5 minutos. No lo compartas con nadie.\" }",
        "options": {}
      },
      "id": "node-brevo",
      "name": "Enviar Email (Brevo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"OTP enviado por correo\", \"canal\": \"email\" }",
        "options": {}
      },
      "id": "node-respond",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 320]
    }
  ],
  "connections": {
    "Recibir OTP (PHP)": {
      "main": [[{ "node": "Enviar Email (Brevo)", "type": "main", "index": 0 }]]
    },
    "Enviar Email (Brevo)": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "tags": [{ "name": "gastrodigest" }]
}
