n8n/workflows/01-otp.json
{
  "name": "GastroDigest · 01 · OTP (correo via Brevo API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "otp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-otp",
      "name": "Recibir OTP (PHP)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "gastrodigest-otp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"email\": \"hr177153@gmail.com\", \"name\": \"GastroDigest\" }, \"to\": [ { \"email\": \"{{ $('Recibir OTP (PHP)').item.json.body.correo }}\" } ], \"subject\": \"Codigo de verificacion GastroDigest: {{ $('Recibir OTP (PHP)').item.json.body.codigo }}\", \"htmlContent\": \"<div style='font-family:Arial,Helvetica,sans-serif;background:#F8FAFC;padding:32px 0'><div style='max-width:480px;margin:0 auto;background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #E2E8F0'><div style='background:#1A6B9A;padding:24px;text-align:center'><span style='display:inline-block;background:#2EAD8E;color:#ffffff;font-weight:bold;border-radius:8px;padding:6px 10px;font-size:14px'>I.S.</span><div style='color:#ffffff;font-size:20px;font-weight:bold;margin-top:8px'>GastroDigest</div><div style='color:#cfe3ef;font-size:12px'>Clinica Gastroenterologica</div></div><div style='padding:32px 28px;text-align:center'><p style='color:#1E293B;font-size:16px;margin:0 0 8px 0'>Tu codigo de verificacion</p><p style='color:#64748B;font-size:13px;margin:0 0 20px 0'>Ingresalo para confirmar tu reserva de cita.</p><div style='display:inline-block;background:#EAF3F8;border:1px dashed #1A6B9A;border-radius:12px;padding:16px 28px'><span style='font-size:34px;font-weight:bold;letter-spacing:10px;color:#1A6B9A'>{{ $('Recibir OTP (PHP)').item.json.body.codigo }}</span></div><p style='color:#64748B;font-size:13px;margin:20px 0 0 0'>Vence en <b>5 minutos</b>. No lo compartas con nadie.</p></div><div style='background:#F1F5F9;padding:16px;text-align:center;color:#94A3B8;font-size:11px'>GastroDigest &middot; Huanuco, Peru &middot; Datos protegidos (Ley N. 29733)</div></div></div>\", \"textContent\": \"Tu codigo de verificacion es {{ $('Recibir OTP (PHP)').item.json.body.codigo }}. Vence en 5 minutos. No lo compartas con nadie.\" }",
        "options": {}
      },
      "id": "node-brevo",
      "name": "Enviar Email (Brevo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"OTP enviado por correo\", \"canal\": \"email\" }",
        "options": {}
      },
      "id": "node-respond",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 320]
    }
  ],
  "connections": {
    "Recibir OTP (PHP)": {
      "main": [[{ "node": "Enviar Email (Brevo)", "type": "main", "index": 0 }]]
    },
    "Enviar Email (Brevo)": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "tags": [{ "name": "gastrodigest" }]
}
