n8n/workflows/05-alerta-reclamacion.json
{
  "name": "GastroDigest · 05 · Alerta de reclamacion (aviso al equipo via Brevo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reclamacion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-recl",
      "name": "Recibir reclamacion (PHP)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "gastrodigest-reclamacion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"email\": \"hr177153@gmail.com\", \"name\": \"GastroDigest · Libro de Reclamaciones\" }, \"to\": [ { \"email\": \"hr177153@gmail.com\", \"name\": \"Equipo GastroDigest\" } ], \"subject\": \"[Reclamaciones] {{ $('Recibir reclamacion (PHP)').item.json.body.tipo }} {{ $('Recibir reclamacion (PHP)').item.json.body.numero_hoja }}\", \"htmlContent\": \"<div style='font-family:Arial,Helvetica,sans-serif;background:#FAF9F6;padding:28px 0'><div style='max-width:560px;margin:0 auto;background:#ffffff;border-radius:14px;overflow:hidden;border:1px solid #E6E2DA'><div style='background:#C2410C;padding:18px 24px'><div style='color:#ffffff;font-size:16px;font-weight:bold'>Nueva {{ $('Recibir reclamacion (PHP)').item.json.body.tipo }} registrada</div><div style='color:#ffe1d1;font-size:12px'>Hoja {{ $('Recibir reclamacion (PHP)').item.json.body.numero_hoja }} &middot; responder en 15 dias habiles (INDECOPI)</div></div><div style='padding:24px 26px'><table style='width:100%;border-collapse:collapse;font-size:14px;color:#1F2B28'><tr><td style='padding:6px 0;color:#5C6B66;width:130px'>Consumidor</td><td style='padding:6px 0'><b>{{ $('Recibir reclamacion (PHP)').item.json.body.nombres }}</b></td></tr><tr><td style='padding:6px 0;color:#5C6B66'>Correo</td><td style='padding:6px 0'>{{ $('Recibir reclamacion (PHP)').item.json.body.correo }}</td></tr><tr><td style='padding:6px 0;color:#5C6B66'>Telefono</td><td style='padding:6px 0'>{{ $('Recibir reclamacion (PHP)').item.json.body.telefono }}</td></tr></table><div style='margin-top:16px;background:#F1F5F3;border-radius:8px;padding:14px 16px;color:#1F2B28;font-size:14px;line-height:1.5'>{{ $('Recibir reclamacion (PHP)').item.json.body.detalle }}</div></div><div style='background:#F1F5F3;padding:14px;text-align:center;color:#94A3B8;font-size:11px'>Aviso automatico &middot; GastroDigest</div></div></div>\", \"textContent\": \"Nueva {{ $('Recibir reclamacion (PHP)').item.json.body.tipo }} {{ $('Recibir reclamacion (PHP)').item.json.body.numero_hoja }} de {{ $('Recibir reclamacion (PHP)').item.json.body.nombres }} ({{ $('Recibir reclamacion (PHP)').item.json.body.correo }}). Detalle: {{ $('Recibir reclamacion (PHP)').item.json.body.detalle }}\" }",
        "options": {}
      },
      "id": "node-brevo-recl",
      "name": "Enviar Email (Brevo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Alerta de reclamacion enviada\", \"canal\": \"email\" }",
        "options": {}
      },
      "id": "node-respond-recl",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 320]
    }
  ],
  "connections": {
    "Recibir reclamacion (PHP)": {
      "main": [[{ "node": "Enviar Email (Brevo)", "type": "main", "index": 0 }]]
    },
    "Enviar Email (Brevo)": {
      "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "tags": [{ "name": "gastrodigest" }]
}
