n8n/workflows/06-resumen-diario.json
{
  "name": "GastroDigest · 06 · Resumen diario (cron -> email al equipo)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 7 * * *" }
          ]
        }
      },
      "id": "node-cron",
      "name": "Cada manana 7:00 (cron)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://gastrodigestclinica-production.up.railway.app/api/admin/resumen-diario",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Webhook-Secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "node-http",
      "name": "Pedir resumen (backend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"email\": \"hr177153@gmail.com\", \"name\": \"GastroDigest\" }, \"to\": [ { \"email\": \"hr177153@gmail.com\", \"name\": \"Equipo GastroDigest\" } ], \"subject\": \"Resumen del dia {{ $('Pedir resumen (backend)').item.json.data.fecha }} · GastroDigest\", \"htmlContent\": \"<div style='font-family:Arial,Helvetica,sans-serif;background:#FAF9F6;padding:28px 0'><div style='max-width:560px;margin:0 auto;background:#ffffff;border-radius:14px;overflow:hidden;border:1px solid #E6E2DA'><div style='background:#0E4B42;padding:20px 24px'><div style='color:#ffffff;font-size:18px;font-weight:bold'>Buenos dias, GastroDigest</div><div style='color:#bcd6ce;font-size:12px'>Resumen operativo del {{ $('Pedir resumen (backend)').item.json.data.fecha }}</div></div><div style='padding:22px 26px'><table style='width:100%;border-collapse:collapse;text-align:center;margin-bottom:18px'><tr><td style='padding:10px;background:#F1F5F3;border-radius:10px'><div style='font-size:26px;font-weight:bold;color:#0E4B42'>{{ $('Pedir resumen (backend)').item.json.data.citas_hoy }}</div><div style='font-size:11px;color:#5C6B66'>Citas hoy</div></td><td style='width:10px'></td><td style='padding:10px;background:#F1F5F3;border-radius:10px'><div style='font-size:26px;font-weight:bold;color:#2E7D6C'>{{ $('Pedir resumen (backend)').item.json.data.pacientes_nuevos_hoy }}</div><div style='font-size:11px;color:#5C6B66'>Pacientes nuevos</div></td><td style='width:10px'></td><td style='padding:10px;background:#F1F5F3;border-radius:10px'><div style='font-size:26px;font-weight:bold;color:#C2410C'>{{ $('Pedir resumen (backend)').item.json.data.reclamaciones_nuevas }}</div><div style='font-size:11px;color:#5C6B66'>Reclamaciones</div></td></tr></table><div style='font-size:13px;font-weight:bold;color:#0E4B42;text-transform:uppercase;letter-spacing:1px;margin-bottom:8px'>Agenda de hoy</div><div style='font-size:14px;color:#1F2B28;line-height:1.7'>{{ ($('Pedir resumen (backend)').item.json.data.agenda || []).map(c => c.fecha_hora + ' — ' + c.paciente + ' · ' + c.medico).join('<br>') || 'Sin citas agendadas para hoy.' }}</div></div><div style='background:#F1F5F3;padding:14px;text-align:center;color:#94A3B8;font-size:11px'>Aviso automatico &middot; GastroDigest</div></div></div>\", \"textContent\": \"Resumen {{ $('Pedir resumen (backend)').item.json.data.fecha }}: {{ $('Pedir resumen (backend)').item.json.data.citas_hoy }} citas, {{ $('Pedir resumen (backend)').item.json.data.pacientes_nuevos_hoy }} pacientes nuevos, {{ $('Pedir resumen (backend)').item.json.data.reclamaciones_nuevas }} reclamaciones.\" }",
        "options": {}
      },
      "id": "node-brevo-resumen",
      "name": "Enviar Email (Brevo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 320]
    }
  ],
  "connections": {
    "Cada manana 7:00 (cron)": {
      "main": [[{ "node": "Pedir resumen (backend)", "type": "main", "index": 0 }]]
    },
    "Pedir resumen (backend)": {
      "main": [[{ "node": "Enviar Email (Brevo)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "tags": [{ "name": "gastrodigest" }]
}
